{% extends "layout/default.html.twig" %}

{% block title %}{{ profile.mail }}{% endblock %}

{% block content %}
    <div class="row">
        <h1>{{ profile.mail }}</h1>
    </div>

    <hr>
{% endblock %}